%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Sensor Array 
      %button.navbar-brand.link-button{onclick: "alertModal('#{ h(`cat /etc/motd`.chomp) }', '/etc/motd')"} [#{`hostname`.strip}]
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        =render partial: '/layouts/nav_links', locals: {the_links: nav_links}
        
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Labs & Tutorials
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li.dropdown-header Equipment
            =render partial: '/layouts/nav_links', locals: {the_links: equipment_links}
            
            %li.divider
            %li.dropdown-header Labs
            =render partial: '/layouts/nav_links', locals: {the_links: lab_links}

            %li.divider
            %li.dropdown-header Activities!
            %li= link_to "Semi-Virtual Laser Dungeon", "/pages/laser_dungeon"

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to('Logout', destroy_user_session_path, :method=>'delete')
        - else
          %li
            = link_to('Login', new_user_session_path)
        - if user_signed_in?
          %li
            = link_to('Edit account', edit_user_registration_path)
        - else
          %li
            = link_to('Sign up', new_user_registration_path)
        
