= link_to "Home", root_path, :class => 'brand'

%ul.nav
  %li= link_to "Time Clocker", "/pages/time_clock"
  %li= link_to "LCD Control", "/pages/lcd"
  %li= link_to "Camera and Vid Streaming", "/pages/camera"
  %li= link_to "Check Pin States", "/pages/check_pin_state"
  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', new_user_session_path)
  - if user_signed_in?
    %li
      = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Sign up', new_user_registration_path)
  
  
  
  
